/* место для вашего кода */
/* место для вашего кода */
body {
  margin: auto;
}

.header {
display: grid;
grid-template-columns: 1fr 148px 1fr;
margin: 92px 49px 92px 51px ;
}

.header__menu {
display: flex;
align-items: center;
color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: inline;
  width: 139px;
  height: 105px;
  padding-left: 4px;
}

.address {
  display: grid;
  justify-self: end;
  align-self: center;
  line-height: 24.3px;
  margin-left: auto;
  grid-template-columns: 1fr;
}

.cover {
  position: relative;
  display: grid;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  max-width: 1440px;
  max-height: 777px;
  z-index: 1;
}

.overlay {
  position: static;
   background: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  padding-left: 50px;
  gap: 10px;
}

.aligned-text {
  color: #fff;
  text-transform: uppercase;
  max-width: 1440px;
  font-size: 100px;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
  padding: 0 50px 0 0;
}

.aligned-text_right {
  text-align: right;
  letter-spacing: 60px;
  position: relative;
  bottom: 10px;
  padding-right: 20px;
}

.cover__description {
  color: #FFF;
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
  gap: 80px;
  padding: 118px 50px 70px;
  z-index: 1;
}

.cover__description-text {
  word-spacing: 18px;
  justify-content: space-between;
  line-height: 28px;
  text-align: right;
}

.bet-button {
  text-align: right;
  border: 1px solid #FFF;
  padding: 12px 32px;
  text-decoration:none;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-right: 50px;
  margin-left: 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 17px;
  padding: 0;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  height: 450px;
  width: 430px;
  padding: 0;
  margin: 0;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 430px;
   
}
.card:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .6);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg); 
  padding: 50px 40px 20px 40px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  padding: 50px 40px 20px 40px;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  padding: 50px 40px 20px 40px;
  
}
.card__title {
  align-items: start;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  justify-content: center;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  z-index: 2;
  padding-bottom: 30px;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-top: 30px;
  text-underline-offset: 5px;
}
.about {
  margin: auto;
 
}
.about__column {
  display: grid;
  grid-template-columns: 430px 3fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 25px;
  padding: 178px 0 0 52px;
}
.about__logo {
  border-radius: 50%;
  background-color: #000;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
  margin: 63px 46px;
}
.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  grid-column: 3/3;
  grid-row: 1/2;
  padding-top: 79px;
  
}

.about__text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  grid-row: 1/3;
  grid-column: 2/3;
  padding-top: 100px;
  padding-bottom:3px;
  padding-right: 28px;
}

.about__text:last-child {
  padding-top: 2ch;
}

.footer {
  display: grid;
  grid-template-columns: 240PX 2fr 240px;
  margin: 50px;
  justify-content: center;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  padding-top: 128px;
  padding-left: 4px;
}

.address {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 240px;
  flex-shrink: 0;
  text-underline-position: under;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}

.footer__menu-list {
  text-align: center;
  justify-self: center;
  align-self: center;
  list-style-type: none;
}

.footer__menu-list-item {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.9px;
}

.footer__menu-link {
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 49px;
  list-style-type: none;
}

